.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 390px;
}

.flex_container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding: 0 17px;
  margin-bottom: 16px;
}

.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: -2px;
  border-radius: 3px;
}

.wrapper:nth-child(3n - 2)::before {
  background-color: #ff0000;
}

.wrapper:nth-child(3n - 1)::before {
  background-color: #366eff;
}

.wrapper:nth-child(3n)::before {
  background-color: #ffeb33;
}

.wrapper h2 {
  font-size: 24px;
  font-weight: 500;
  color: #f4f4f4;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 210px;
  white-space: nowrap;
}

.wrapper p {
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 210px;
  white-space: nowrap;
}

.task_title {
  font-size: 24px;
  font-weight: 600;
}

.task_description {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 33px;
  min-height: 60px;
}

.ended {
  text-decoration: line-through;
}

/* create-task */
.create {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A9A9A9;
}
.create_title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #222222;
}

.task_wrapper {
  display: flex;
  flex-direction: column;
}
/* end create-task */
